<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <%= link_to "SiscoBank C.A.", welcome_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <%= link_to "SiscoBank C.A.", welcome_path, class:"navbar-brand" %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t('.users'), users_path, class:"nav-link" %>
          </li>
        </ul>
        <div class="d-flex" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to t('.register_user'), new_user_path, class:"nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
